{% extends 'base.html.twig' %}

{% block title %}{{ 'app_movie_new' == app.current_route ? 'Create new Movie' : 'Edit Movie' }}{% endblock %}

{% block body %}
    <div class="w-50 m-auto">
        <h1>{{ 'app_movie_new' == app.current_route ? 'Create new Movie' : 'Edit Movie' }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
    <a href="{{ path('app_admin_book_index') }}">back to list</a>
{% endblock %}
