{% extends 'base.html.twig' %}

{% block title %}{{ movie is empty ? 'Not found' : movie.title }}{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {% if movie is not empty %}
            <h1>{{ movie.title }}</h1>

            <div class="mb-3">
                <img class="float-end" src="{{ movie.poster }}" alt="{{ movie.title }} cover">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Id : {{ movie.id }}</li>
                    <li class="list-group-item">IMDb : {{ movie.imdbId }}</li>
                    <li class="list-group-item">Rated : {{ movie.rated }}</li>
                    <li class="list-group-item">Plot : {{ movie.plot }}</li>
                    <li class="list-group-item">Released at : {{ movie.releasedAt|date('d M Y') }}</li>
                    <li class="list-group-item">Genre : {{ movie.genres|map(genre => genre.name)|join(', ') }}</li>
                    <li class="list-group-item">Price : {{ (movie.price / 100)|format_currency('EUR', locale = 'fr') }}</li>
                </ul>
            </div>
            <a href="#" class="btn btn-primary disabled">Order movie</a>
        {% else %}
            <h1>Not found</h1>
        {% endif %}
    </div>
{% endblock %}
